main {
    width: 100%;
    margin: 0;
    padding: 0 2rem;
    cursor: default;
}

.price-list-section {
    padding: 10rem 2rem;
    text-align: center;
}

.price-list-title {
    text-align: center;
    margin-bottom: 5rem;
    color: #3C552D;
}

.price-list-container {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 0 2rem;
}

.price-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #3c552d21;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    overflow: hidden;
}

.price-item-image {
    flex: 1;
}

.price-item-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px 0 0 15px;
}

.price-item-content {
    flex: 1;
    padding: 2rem;
    display: flex;
    flex-direction: column;
}

.price-item-title {
    text-align: left;
    font-weight: 700;
    color: #3C552D;
    margin-bottom: 1rem;
}

.price-item-description {
    color: #333;
    text-align: justify;
    margin-bottom: 1.5rem;
    line-height: 2.3rem;
}

.price-item-price {
    font-size: 2rem;
    font-weight: 600;
    color: #3C552D;
    text-align: right;
}

/* Responsivita pro ruzna zarizeni */
@media only screen and (max-width: 1024px) {
    .price-item {
        flex-direction: column;
    }
    .price-item-image img {
        border-radius: 15px 15px 0 0;
    }
    .price-item-content {
        text-align: center;
    }
    .price-item-price {
        text-align: center;
        margin-top: 1rem;
    }
}

@media only screen and (max-width: 768px) {
     .price-item-title {
        text-align: center;
    }
}



