.profile {
    display: flex;
    justify-content: center;
    align-items: center;
}

/*  Tlacitko logout  */
.logout-button {
    background-color: #b43b18;
    padding: 2rem 5rem;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    transition: 0.3s ease;
    margin: 15rem;
}

.logout-button:hover {
    background-color: #c04d2e;
}